<h1>Listing c_providers</h1>

<table>
  <tr>
    <th>Name provider</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @c_providers.each do |c_provider| %>
  <tr>
    <td><%= c_provider.name_provider %></td>
    <td><%= link_to 'Show', c_provider %></td>
    <td><%= link_to 'Edit', edit_c_provider_path(c_provider) %></td>
    <td><%= link_to 'Destroy', c_provider, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New C provider', new_c_provider_path %>
