<p id="notice"><%= notice %></p>

<p>
  <b>Id product category:</b>
  <%= @category.id_product_category %>
</p>

<p>
  <b>Category name:</b>
  <%= @category.category_name %>
</p>

<p>
  <b>Category division:</b>
  <%= @category.category_division %>
</p>

<p>
  <b>Category description:</b>
  <%= @category.category_description %>
</p>


<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>
